<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ROUNZ footer</title>
</head>

<body>

</html>
<footer class="footer">

    <div class="footer-wrap">

        <h1 class="footer-logo">ROUNZ</h1>

        <div class="customer-info">
            <p>고객센터 (채널톡 문의)</p>

            <p>
                채널톡 문의 : 10:00 ~ 17:00
                (점심시간 12:00 ~ 13:00 ｜ 주말, 공휴일 휴무)
            </p>

            <p>
                안경원 안내 : 10:00 ~ 20:00
                (설, 추석 휴무)
            </p>
        </div>

        <div class="policy-links">
            <a href="#">개인정보처리방침</a>
            <span>|</span>
            <a href="#">이용약관</a>
            <span>|</span>
            <a href="#">가맹문의</a>
        </div>

        <div class="service-links">
            <a href="#">라운즈앱/a>
            <span>|</span>

            <a href="#">라운즈 해외</a>
            <span>|</span>

            <a href="#">라운즈 파트너스</a>
            <span>|</span>

            <a href="#">글라스박스</a>
        </div>

        <div class="company-info">
            <a href="#">사업자정보확인</a>
            <span>|</span>
            <a href="#">
                (주)라운즈 ROUNZ 사업자정보 ▼
            </a>
        </div>

        <div class="sns">

            <a href="https://www.kcp.co.kr" target="_blank">
                <img src="https://cdn.imweb.me/upload/5926921e3bd3a.png" alt="KCP"width="32" height="32">
            </a>

            <a href="https://pf.kakao.com" target="_blank">
                <img src="https://images.seeklogo.com/logo-png/28/2/kakao-talk-logo-png_seeklogo-284408.png" alt="카카오톡" width="32" height="32">
            </a>

            <a href="https://www.instagram.com" target="_blank">
                <img src="https://images.seeklogo.com/logo-png/28/2/instagram-new-2016-logo-png_seeklogo-282177.png" alt="인스타그램" width="32" height="32" >
            </a>

            <a href="https://www.facebook.com" target="_blank">
                <img src="https://images.seeklogo.com/logo-png/15/2/facebook-logo-png_seeklogo-157841.png" alt="페이스북" width="32" height="32">
            </a>

            <a href="https://blog.naver.com" target="_blank">
                <img src="https://images.seeklogo.com/logo-png/37/2/naver-blog-logo-png_seeklogo-376774.png" alt="네이버 블로그" width="32" height="32">
            </a>

        </div>

    </div>

</footer>
</body>