<header class="header">

  <h1 class="logo">
    <a href="/">ROUNZ</a>
  </h1>

  <div class="header__right">

    <span class="material-symbols-outlined icon-btn">
      search
    </span>

    <span class="material-symbols-outlined icon-btn">
      shopping_bag
    </span>

    <span class="material-symbols-outlined menu-btn">
      menu
    </span>

  </div>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/common.css">
  <link rel="stylesheet" href="../styles/header.css">
</header>