.bottom-sheet {
  position: fixed;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
}
.bottom-sheet.is-open {
  visibility: visible;
  pointer-events: auto;
}
.bottom-sheet__backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s ease;
}
.bottom-sheet.is-open .bottom-sheet__backdrop {
  opacity: 1;
}
.bottom-sheet__panel {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $white;
  border-radius: 16px 16px 0 0;

  transform: translateY(100%);
  transition: transform 0.3s ease;
}
.bottom-sheet.is-open .bottom-sheet__panel {
  transform: translateY(0);
}
body.is-sheet-open {
  overflow: hidden;
}