.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;

  &:disabled {
    cursor: not-allowed;
    opacity: .4;
  }
}

.btn-sm { 
  height: 40px;
}
.btn-md {
  height: 48px;
}
.btn-lg {
  height: 56px;
}

@include tablet {
  .btn-sm {
    height:44px;
  }

  .btn-md {
    height: 52px;
  }

  .btn-lg {
    height: 60px;
  }
}

@include desktop {
  .btn-sm {
    height: 48px;
  }
  
  .btn-md {
    height: 56px;
  }

  .btn-lg {
    height: 64px;
  }
}