.carousel-indicator {
  display: flex; 
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  gap: map-get($indicator-gap, mobile);
  top: map-get($indicator-top, mobile);
  height: map-get($indicator-height, mobile);

  @include respond(tablet) {
    gap: map-get($indicator-gap, tablet);
    top: map-get($indicator-top, tablet);
    height: map-get($indicator-height, tablet);
  }

  @include respond(desktop) {
    gap: map-get($indicator-gap, desktop);
    top: map-get($indicator-top, desktop);
    height: map-get($indicator-height, desktop);
  }
}

.carousel-indicator__bar {
  flex: 1;
  background: rgba(255, 255, 255, .3);
  cursor: pointer;
  transition: all 0.25s ease;
}
.carousel-indicator__bar.is-active {
  background: rgba(28, 28, 28, .7);
}