/* media query */

@mixin mobile {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin tablet { 
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1200px) {
    @content;
  }
}

/* layout */

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex-between {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* button-reset */
@mixin button-reset {
  border: none;
  background: none; 
  padding: 0;
  cursor: pointer;
}

/* aspect-ratio */
@mixin aspect-ratio ($w, $h) {
  aspect-ratio: $w / $h;
}