/* =========================
   RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body 기본 */
body {
  font-family: system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  color: #111;
  background: #fff;
}

/* 리스트 */
ul,
ol {
  list-style: none;
}

/* 링크 */
a {
  text-decoration: none;
  color: inherit;
}

/* 버튼 */
button {
  border: none;
  background: none;
  font: inherit;
  cursor: pointer;
}

/* 이미지 */
img {
  max-width: 100%;
  display: block;
}

/* input / textarea */
input,
textarea {
  font: inherit;
  outline: none;
}

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}