.font-body-md {
  font-size: $font-body-md;
  line-height: $lh-125;
}
.font-body-s-b-100 {
  font-size: $font-body-s-b-100px;
  line-height: $lh-100;
}
.font-body-lg {
  font-size: $font-body-lg;
  line-height: $lh-135;
}
.font-body-sm {
  font-size: $font-body-sm;
  line-height: $lh-115;
}
.font-body-sm-b {
  font-size: $font-body-sm-b;
  line-height: $lh-140;
}
.font-caption {
  font-size: $font-caption;
  line-height: $lh-135;
}
.font-caption-b {
  font-size: $font-caption-b;
  line-height: $lh-135;
}
.font-link {
  font-size: $font-link;
  line-height: $lh-135;
}
.font-title {
  font-size: $font-title;
  line-height: $lh-114;
}
.font-body-l-b {
  font-size: $font-body-l-b;
  line-height: $lh-150;
}
.font-h1 {
  font-size: $font-h1;
  line-height: $lh-115;
}
.font-h2 {
  font-size: $font-h2;
  line-height: $lh-140;
}
.font-h3 {
  font-size: $font-h3;
  line-height: $lh-150;
}
.font-h4 {
  font-size: $font-h4;
  line-height: $lh-115;
}
@include desktop {
  .font-body-md {
    font-size: $font-body-md;
    line-height: $lh-150;
  }
  .font-body-lg {
    font-size: 18px;
    line-height: $lh-155;
  }
  .font-body-sm {
    font-size: $font-body-sm;
    line-height: $lh-142;
  }
  .font-body-sm-b {
    font-size: $font-body-sm-b;
    line-height: $lh-142;
  }
  .font-link {
    font-size: $font-link;
    line-height: $lh-155;
  }
  .font-caption {
    font-size: $font-caption;
    line-height: $lh-133;
  }
  .font-caption-b {
    font-size: $font-caption-b;
    line-height: $lh-133;
  }
  .font-title {
    font-size: $font-title;
    line-height: $lh-114;
  }
  .font-h1 {
    font-size: 36px;
    line-height: $lh-122;
  }
  .font-h2 {
    font-size: 28px;
    line-height: $lh-128;
  }
  .font-h3 {
    font-size: 20px;
    line-height: $lh-140;
  }
  .font-h4 {
    font-size: $font-h4;
    line-height: $lh-142;
  }
  .font-body-l-b {
    font-size: $font-body-l-b; 
    line-height: $lh-150;
  }
}
