/* 색상 */
$primary: #072369;
$secondary: #f2b705;
$black: #1c1c1c;
$superGray: #535762;
$gray: #d9d9d9;
$white: #f8f8f8;
$purple: #a09bee;

/* 브레이크 포인트 */
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

/* radius */
$radius: 10px;


/* typography */
$font-body-lg: 18px;
$font-body-md: 16px;
$font-body-sm: 14px;
$font-body-s-b-100: 14px;
$font-body-sm-b: 14px;
$font-caption: 12px;
$font-caption-b: 12px;
$font-h1: 28px; 
$font-h2: 22px;
$font-h3: 18px;
$font-h4: 14px;
$font-link: 18px;
$font-title: 56px;
$font-body-l-b: 16px;

/* line-height - mobile/tablet */
$lh-125: 1.25;
$lh-135: 1.35;
$lh-115: 1.15;
$lh-140: 1.4;
$lh-150: 1.5;
$lh-100: 1;

/* line-height - desktop */
$lh-122: 1.22;
$lh-128: 1.28;
$lh-133: 1.33;
$lh-140-d: 1.4;
$lh-150-d: 1.5;
$lh-155: 1.55;
