.header {
  height: 70px;
  background: #171717;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
}

.logo {
  color: #fff;
  font-size: 24px;
  font-weight: 800;
}

.gnb {
  display: none;
}

.header-icons {

  display: flex;
  gap: 20px;

  color: #fff;
}

.material-symbols-outlined {
  font-size: 24px;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}

@media(min-width:1200px) {

  .header {
    height: 88px;
    padding: 0 48px;
  }

  .gnb {
    display: flex;
    gap: 40px;
  }

  .gnb a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
  }
}